.topbar {
  width: 100%;
  background-color: black;
  padding: 12px 0;
  display: flex;
  justify-content: left;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
}

.topbar a {
  color: wheat;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.topbar a:hover {
  color: red;
}
.bt-img{
    background-color: black;
    color: wheat;
    border: none;
    padding: 10px 16px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.bt-img:hover {
    background-color: #333;
}

.content h2, h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
    
}

.title  {
    background-image: url(../IMG/backgrundindex.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    height: 70vh;
    width: 100%;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titleTop {
    font-family: 'Segoe UI', sans-serif; 
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: wheat;
    text-align: center;
}

.titleBottom {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: wheat;
}
.download-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.download-btn {
    background-color: black;
    color: wheat;
    padding: 15px 35px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;

}

.download-btn:hover {
    background-color: #333;
}

.form-conteiner {
    width: 450px;
    background: white;
    padding: 30px 60px;
    border-radius: 18px;
    border: 3px solid black;
    margin: 140px 60px 0 auto; 
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.2s ease;
    width: 92%;
}
.text-box {
    width: 600px;
    background: white;
    padding: 30px 40px;
    margin: 40px auto;
    margin-top: 80px;
    border-radius: 18px;
    border: 3px solid black;
}


.text-box h2 {
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

img {
    width: 30%;
    max-width: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    
}

#knowme {
    float: center;
    background-color: rgb(76, 58, 94);
    color: wheat;
}
